@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web";
    outline: none;
}



.main-page{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), 
    url("fondo.jpg");   
    background-size:  cover;
    background-position: center center;
    color: #fff;
}
/* .logo-cv{
    text-align: center;
    padding: 2.5em;
} */

.inf-autor{
    margin: auto;
    text-align: center;
    padding: 0 10rem;
    
}

.inf-autor{
    padding-bottom: 130px;
    
}

.inf-autor h1{
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: #fff;
    padding: 100px 0 100px 0;
    
}

.inf-autor h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inf-autor h3{
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 2px;
    
}

.redes{
    margin: 1rem 0;
}

.redes a {
    
    display: inline-block;
    text-decoration: none;
    color: goldenrod;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    transition: 0.1s;
}
.redes a:hover{
    color: #fff;
    box-shadow: 0 0 20px #fff;
}

.foto-cv{
    position: relative;
}

.foto-cv img {
    max-width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -100px;
    border: 5px solid goldenrod;
    transform: translateX(-50%);
}

.titulo-sobremi{
    font-family: "Titillium Web";
    font-size: 1.5rem;
}

.sobremi{
    background-color: #726464;
    padding: 140px 0 100px 0;
    text-align: center;
}

.contenedor-sobremi{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;

}

.contenedor-sobremi p{
    text-align: justify;
    text-justify: inter-word;
    ;
}

.contenedor-sobremi .fila{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.contenedor-sobremi .fila .col{
    width: 15rem;
}

.contenedor-sobremi .fila .col i{
    display: inline-block;
    color: goldenrod;
    width: 2rem;
    height: 1.5rem;
    animation: pulse 2s infinite;
    
}

.contenedor-sobremi .fila .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

.col li{
    list-style-type: none;
}

.contenido-seccion{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}


.habilidades{
    padding: 80px 50px 100px 50px;
    text-align: center;
    font-size: 25px;
}
.contenido-seccion h3{
    text-transform: uppercase;
    font-size: 30px;
    
    
}

.contenido-seccion .fila{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.contenido-seccion .fila .col{
    width: 47%;
    text-align: left;
}

/*Pie de pagina*/


.pie-pagina{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.titulo-pie-pagina{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    margin-bottom: 20px;
}

.titulo-pie-pagina{
    font-size: 30px;
}
.pie-pagina ul i{
    color: goldenrod;

}

.pie-pagina ul li{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}
